#order_csv_import_form { }
#order_csv_import_form input#csv_url { width: 300px; height: 40px; margin-bottom: 10px; margin-top: 10px;color: #000; }
#order_csv_import_form label { font-size: 15px; }
#order_csv_import_form input[type="submit"], a#img-upload {transition: all 400ms ease; margin-top: 20px; background-color: #000; border: 2px solid transparent; color: #fff; padding: 10px 21px; border-radius: 5px; cursor: pointer; display: inline-block; text-decoration: none; }
#order_csv_import_form input[type="submit"]:hover, a#img-upload:hover { border-color: #000; background-color: transparent; color: #000; }

.form_loader_order { background-image: url(../images/Loading.gif); height: 30px; width: 20px; background-position: center; background-repeat: no-repeat; background-size: contain; position: absolute; bottom: 6px; left: 100px; }

#wpbody-content .container {
    position: relative;
}